text {
  font: 14px Arial;
  fill: #555555;
}

.line path {
  fill: none;
  stroke-width: 2;
  stroke-opacity: 0.5;
  pointer-events: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #CCCCCC;
  shape-rendering: crispEdges;
}

.dimension text {
  text-anchor: end;
}

.circle,
.legendItems {
  cursor: pointer;
  stroke-width: 0.8;
}

.labels text {
  fill: #999999;
}

.reset-btn {
  right: 20px;
  top: 10px;
  position: absolute;
}