svg {
  stroke-width: 1.0;
  stroke-opacity: 0.6;
}

text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  fill: #777777;
}

.chartTitle text {
  text-anchor: middle;
  font-size: 18px;
}

.axisLabel {
  text-anchor: end;
}

.activeText {
  font-weight: bold;
  fill: #555555;
}

.line {
  fill: none;
}

.circle,
.legendCircle {
  stroke-width: 1.5;
}

.axis line,
.axis path {
  fill: none;
  stroke: #CCCCCC;
  stroke-opacity: 1.0;
  shape-rendering: crispEdges;
}

.circle,
.legendItems {
  cursor: crosshair;
}

.legendLabel {
  text-anchor: end;
}

.reset-btn {
  right: 20px;
  top: 10px;
  position: absolute;
}