div {
    width: 70%;
    min-width: 600px;
    height: 600px;
    border: 1px solid #CCCCCC;
    position: relative;
}

div.chart {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}