.line path {
  fill: none;
  stroke-width: 2;
  stroke-opacity: 0.5;
  pointer-events: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #CCCCCC;
  shape-rendering: crispEdges;
}

.tick text {
  font: 14px Arial;
}

.dimension text {
  text-anchor: end;
}

.circle,
.legendItems {
  cursor: pointer;
  stroke-width: 0.8;
}

text.legendLabel,
text.nameLabel,
text.valueLabel {
  font: 14px Arial;
  fill: #777777;
}

text.axisLabel {
  font: 15px Arial;
  fill: #333333;
}

.reset {
  right: 20px;
  top: 10px;
  position: absolute;
}