#chart {
  width: 80%;
  height: 80%;
  position: absolute;
  font: 15px Arial;
  fill: #333333;
}

.line path {
  fill: none;
  stroke-width: 2;
  stroke-opacity: 0.5;
  pointer-events: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #CCCCCC;
  shape-rendering: crispEdges;
}

.label {
  text-anchor: end;
  font: 14px Arial;
}

.tick text {
  font: 14px Arial;
}

.circle, .legendItems {
  cursor: pointer;
  stroke-width: 0.8;
}

text.legendLabel,
text.nameLabel,
text.valueLabel {
  font: 14px Arial;
  fill: #777777;
}

.reset {
  left: 80%;
  top: 5%;
  position: absolute;
  color: #333333;
}